
services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    container_name: scm_api_prod
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: mongo_db_api
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: scm_db_api
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express:1.0.0-alpha.4
    container_name: mongo_express_api
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
    depends_on:
      - mongo

volumes:
  mongo_data:
